body{
    background-color: bisque;
}

h1{
    color: green;
    text-align: center;
    font-style: oblique;
    font-size: 40px;

}

h2{
    text-align: center;
    color: coral;
    
   
}

ul{
    text-align: center;
    color: brown;    
}

p{
    text-align: center;
    text-shadow: 2px;
}

.sp{
color: red;
text-align: left;
}

#top{
    color: darkgoldenrod;
}