
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    border: 8px solid;
    height: 500px;
    width: 900px;
    margin-left: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

}

.filho{
    border: 7px solid green;   
    padding: 10px;
    height: 100px;
    width: 70px;
}

.verde{
    background-color: red;
    color: white;
    font-size: 35px;
    order: 0;
    
}